$font: 'Roboto', sans-serif;

$white: #ffffff;
$black: rgb(38, 40, 46);

// --- basic colors
$primary: rgb(40, 61, 123);
$secondary: rgb(255, 74, 117);
$success: #7BC86C;
$danger: #EF7564;
$warning: #F5DD29;
$info: rgb(77, 210, 239);
$muted: rgb(227, 229, 233);
$dark: #999999;
